.header{
    border: 1px solid lightgray;
    padding-top: 13px;
    background-color: #2cc5e0;
    color:white;
}
.nav{
  
    margin-left: 80px;
}
li{
    margin-left: 20px;
   
}
li link {
    color: white;
}
.nav li{
    display:inline;
    
}

.title{
    margin-right: 300px;
    color: aliceblue;
    text-decoration:none;
    font-size: 21px;
}

.color{
    color:aliceblue;
}

.btn{
    background-color: #bb7900;
}