.flex{
    display:flex;
   
}

.pick-size{
    width:400px;
    margin-top: 20px;
}

.map-size img{
   width:500px;
   margin-top: 20px;
}

.cart{
    margin-left: 30px;
    padding: 30px;
    align-content:center;
    width:300px;
    background-color: #e7e7e7;
}

.cart input{
    width:250px;
}

.btn-color{
    background:#e4980b;
}